.booking-content {
  padding: 20px;
}

.booking-history {
  margin-top: 20px;
}

.booking-history table {
  width: 100%;
  border-collapse: collapse;
}

.booking-history th,
.booking-history td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

.booking-history th {
  background-color: #0a1635;
}

button {
  padding: 6px 12px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}
.message-box {
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  max-width: 800px;
  border-radius: 8px;
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
